.header {
  display: flex;
  align-items: center;
  column-gap: 20px;
  height: 49px;
  width: 100%;
  background-color: white;
  padding: 10px 32px;

  .title {
    display: flex;
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: 100%;
    align-items: center;
    column-gap: 10px;

    min-width: 0;
    text-overflow: ellipsis;
    white-space: nowrap;

    .projectname {
      font-weight: 700;
      font-size: 1.1em;
    }

    .projectid {
      font-weight: 600;
      font-size: 0.8em;
    }

    .signOut {
      font-weight: 600;
      font-size: 0.8em;
      border: 1px solid gray;
      border-radius: 10px;
      padding: 1px 5px;
      cursor: pointer;
      &:hover {
        background-color: azure;
      }
    }
  }

  .search {
    $s-width: 250px;

    width: auto;
    position: relative;
    display: flex;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    text-align: right;
    transition: width 0.1s;

    .searcharea {
      display: flex;
      align-items: center;
      justify-content: right;
      transition: width 0.1s;

      &.focused {
        width: $s-width;
      }
    }

    .searchinput {
      height: 36px;
      border-radius: 18px;
      border: solid 1px;
      width: 36px;
      transition: width 0.1s;
      color: black;
    }

    .searchinput.focused {
      height: 35px;
      width: $s-width;
      border-radius: 15px;
      border: solid 1px;
      padding-left: 30px;
      color: black;
    }
    .icon {
      position: absolute;
      left: 6px;
      cursor: pointer;
    }
  }
}
